<!DOCTYPE html>

<html>
	<head>
		<title>Numatic &raquo; {{title}}</title>

		<link rel="stylesheet" href="/css/admin.css" />

		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/admin.js"></script>
	</head>

<body>
	<section class="sidebar">
		<div class="controls">
			<ul>
				<li class="articles"><a href="/"><span>Articles</span></a></li>
				<li class="pages"><a href="/pages"><span>Pages</span></a></li>
				<li class="portfolio"><span>Portfolio</span></li>
				<li class="media"><a href="/media"><span>Media</span></a></li>
				<li class="menus"><a href="/menus"><span>Menus</span></a></li>
				<li class="settings"><a href="/settings"><span>Settings</span></a></li>
			</ul>
		</div>
	</section>

	<section class="main">
		{{{body}}}
	</section>
</body>

</html>
